.formulario--login__entrar{
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    background-color: var(--laranja3);
    color: var(--branco);
    cursor: pointer;
    transition: all .3s ease;
}

.formulario--login__entrar:hover{
    background-color: var(--laranja4);
}