@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --laranja1: #FFB884;
    --laranja2: #FFA05A;
    --laranja3: #F68634;
    --laranja4: #D9640D;
    --laranja5: #AA4902;
    --preto: #000000;
    --branco: #ffffff;
    --verde-descricao-produto: #00a650;
    --fonte: 'Rajdhani', sans-serif;
    --fonte-poppins: 'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: 0;
    list-style: none;
    font-family: var(--fonte);
    scroll-behavior: smooth;
} 

