.navegacao__nav{
    width: 45%;
    height: 95%;
    margin-right:2rem;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    grid-gap: 1px;
}